# Dependencias de Node.js
node_modules/

# Código compilado
dist/

# Variables de entorno
.env
.env.*

# Registros
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local de editores
.vscode/